/* Place your CSS styles in this file */

body {background-color: rgb(181, 181, 181);
border: 7px solid rgb(255, 255, 255);
border-radius: 2px;
 outline: 0px dotted ;
}

h1 {
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    color: rgb(53, 50, 50);
}
marquee 
{
    color: rgb(225, 225, 225);
    font-family:serif;
}

